.imageSide img{
    border-radius: 12px;
    box-shadow: 0 15px 10px #000;
}

.imageSide .versions{
    height: 360px;
    width: 690px;
}

.imageSide .power{
    height: 360px;
    width: 690px;
}

.imageSide .powerThree{
    height: 360px;
    width: 650px;
}

.textSide h1{
    font-family: 'THE AMAZING SPIDER-MAN', sans-serif;
    font-size: 35px;
    color: #026DFF;
}

.Hangar{
    padding: 75px 0;
}